<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160126215828-7kt5d8chu3jq34qbv1u9ru6g9bisf348.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160126215828-7kt5d8chu3jq34qbv1u9ru6g9bisf348</string>
	<key>API_KEY</key>
	<string>AIzaSyB6UlS6TbyLUjer_Vv41cUr0QRiaMrzXds</string>
	<key>GCM_SENDER_ID</key>
	<string>160126215828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gursevak.gurbani</string>
	<key>PROJECT_ID</key>
	<string>learn-shudh-gurbani</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-shudh-gurbani.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160126215828:ios:ddfaeb23fa7707172df681</string>
</dict>
</plist>